# Compiled binaries
*.exe
*.obj
*.o
*.exp
*.lib

# CUDA intermediate files
*.ptx
*.cubin
*.fatbin


# Build directories
build/
out/

# Generated output images
output.ppm
output.pgm

# IDE / tooling
.clangd
.vscode/
